.highlights{
    position: relative;
    width: 100%;
    padding:40px 10%;
    vertical-align: middle;
}

.highlights-item{
    display: inline-block;
    width:20%;
    padding-top: 20px;
    text-align: center;
    background-color:wheat;
}

.highlights-item:hover{
    padding: 1.5%;

}

.highlights-item span{
    font-size: 40px;
    display: block;
}

.highlights-item p{
    font-size: 18px;
}

.highlights-item p:hover{
    font-weight: bold;
}

.highlights-item h3{
    font-size: 24px;
}

.highlights-item h3:hover{
    font-weight: bold;
}

.our-story{
    position: relative;
    width: 100%;
    padding:5% 10% 10% ;
    align-items:stretch;
}

.story-images, .story-text{
    display: inline-block;
    width: 40%;
}

.story-images img{
    float: left;
    width:90% ;
    height: auto;
}

.story-text{
    vertical-align: top;
}

.story-text h5 a{
    background-color: white;
    font-size: large;
    color: #ffd21e;
}

.story-text h5 a:hover{
    background-color: white;
    font-size: large;
    color: black;
}

.story-text p{
    font-size: 16px;
    margin-bottom: 20px;
}

.story-text a{
    background: #ffd21e;
    padding: 5px 18px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
}

.story-text a:hover{
    background-color: black;
    color: white;
}

.call{
    position: relative;
    width: 100%;
    background:url(images/callus.png) no-repeat;
    background-size: cover;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}

.call-text, .call-us{
    display: inline-block;
    width: 40%;
    text-align: center;
    color:white;
}


.call-text{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-left: 4%;

}

.call-us{
    font-size: 25px;
    text-align: right;
}

.call-us span{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.why{
    position: relative;
    width: 100%;
    padding:10% 10% 10%;
    align-items:stretch;
}

.why-text, .why-images{
    display: inline-block;
    width: 40%;
}

.why-text{
    vertical-align: top;
}

.why-text h5 a{
    background-color: white;
    font-size: large;
    color: #ffd21e;
}

.why-text h5 a:hover{
    background-color: white;
    font-size: large;
    color: black;
}

.why-text p{
    font-size: 16px;
}

.why-text ul{
    margin-bottom: 25px;
}

.why-text ul li{
    list-style-type: none;
    text-align: left;
    font-size: 16px;
    color: black;
}

.why-text ul li span{
    font-size: 20px;
    font-weight: bolder;
    color:#ffd21e;
}

.why-text a{
    background: #ffd21e;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
}

.why-text a:hover{
    background-color: black;
    color: white;
}

.why-images img{
    float: right;
    width:90% ;
    height: auto;
}

.review-heading{
    position: relative;
    text-align: center;
    color:gold;
    font-size: 20px;
    padding:8% 10% 5%;
    background-color: white;
}

.review-heading span{
    text-align: center;
    padding: 20% 0;
    font-size:26px;
    color: black;
    font-weight: bold;
}

.review{
    position: relative;
    width: 90%;
    padding: 5%;
    background-color: #fbf8eb;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.review-clients{
    width: 28%;
    border: solid 2px black;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

.review-clients img{
    width: 50%;
    height: auto;
}

.review-clients h6{
    font-style: italic;
    font-size: 16px;
    padding: 0px;
}

.review-clients p{
    text-align: justify;
}

.review-clients:hover{
    border: solid 2px #ffd21e;
}

/* Menu Section  */
.menu {
    margin:180px 80px 280px 80px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(203, 31, 31, 0.274);
    

  }
  
  .menu h1 {
    margin-top: 40px;
    color: rgb(235, 11, 86);
    font-style: italic;
  }
  
  .menu-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 100%;
    max-height: 100%;
    /* height: 100%; */
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
    
  }

  .menu-item {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
    /* margin-bottom: 10px; */
    background-color:rgba(63, 171, 195, 0.814);
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px 15px 30px 40px;
    border-radius: 10px;
    background-color: #fff;
   min-width:20%;
   min-height: 30%;
   
  }
  
  .menu-item img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  /* About Section */
.about {
    margin:180px 80px 280px 80px;
    padding: 20px;
    background: rgb(180, 180, 174);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    
}



.about h2 {
    color: #d2691e;
    border-bottom: 2px solid #d2691e;
    padding-bottom: 5px;
    text-align: center;
    
}


.about p {
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: center;
}

.about ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.about ul li {
    padding: 5px 0;
    font-size: 1.1rem;
}

/* Contact Section */
.contacting {
    padding: 40px 20px;
    background-color: rgb(125, 125, 234);
    text-align: center;
    color: #fff;
    margin:180px 80px 280px 80px;
  }
  
  .contacting h2 {
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-form input, .contact-form textarea, .contact-form button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #7a2c2c;
    color: #fff;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #5a1e1e;
  }

  body{
    background-image: url(images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }